.main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    width: 100%;
  }
  
  .iconContainer {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
  }
  
  .newFolderForm {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .newFolderInput {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    outline: none;
  }
  
  .addFolderButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.3rem;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
    margin-top: 50px; /* Added for better spacing, adjust as needed */
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  .card p {
    margin-top: 0.5rem;
  }